<section class="contact-us container">
  <div class="contact-us__icons">
    <span class="icon-container"
      ><img src="assets/images/twitter 1.svg" alt="Twitter"
    /></span>
    <span class="icon-container"
      ><img src="assets/images/telegram 1.svg" alt="Telegram"
    /></span>

    <span class="icon-container"
      ><img src="assets/images/linkedin 1.svg" alt="Linkedin"
    /></span>
  </div>
  <div class="contact-us__address" style="height: auto">
    <div class="icon-holder">
      <span class="icon-holder__lable">Tapsi@gmail.com</span>
      <img src="assets/images/Message.svg" alt="Email" />
    </div>
    <div class="icon-holder">
      <span class="icon-holder__lable">0933 764 6825</span>
      <img src="assets/images/Call.svg" alt="Phone-number" />
    </div>
    <div class="icon-holder">
      <span class="icon-holder__lable">man che bedonam</span>
      <img src="assets/images/Location.svg" alt="Location" />
    </div>
  </div>
  <div class="contact-us__map">
    <img src="assets/images/map.png" alt="tapsi office location" />
  </div>
  <div class="contact-us__form">
    <div class="form-wrapper">
      <h3>نظرات شما</h3>
      <form>
        <input type="text" placeholder="نام و نام خانوادگی" />
        <input type="email" placeholder="ایمیل خود را وارد کنید" />
        <textarea placeholder="پیام شما" id="" cols="30" rows="10"></textarea>
        <button type="submit" class="btn btn--primary">ارسال نظر</button>
      </form>
    </div>
  </div>
</section>
